body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin: 15px;
  }

header{
    background-color: rgb(241, 230, 134);
}

.timer-heading{
    color: black;
    font-size: 35px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px white, 0 0 20px rgb(206, 6, 6), 0 0 30px rgb(206, 6, 6), 0 0 40px rgb(206, 6, 6), 0 0 50px rgb(206, 6, 6);
    }
    to {
    text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px rgb(206, 6, 6)d, 0 0 50px rgb(206, 6, 6);
    }
}

.live-time-value{
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px white, 0 0 20px rgb(206, 6, 6), 0 0 30px rgb(206, 6, 6), 0 0 40px rgb(206, 6, 6), 0 0 50px rgb(206, 6, 6);
    }
    to {
    text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px rgb(206, 6, 6), 0 0 50px rgb(206, 6, 6);
    }
}
    
hr{
    text-align:left;
    height: 2px;
    color:coral;
    background-color:coral;
}

.startKey{
    background-color: rgb(98, 206, 98);
    border-radius: 15px;
    color: black;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 15%;
}

.question {
    font-size: 25px;
}

.answerOptionsUl {
    list-style-type: disc;
}

.answerOptionsButton {
    background-color: blanchedalmond;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
    text-align: left;
}

.answer-statement {
    font-size: 25px;
}

.high-scores{
    background-color: rgb(235, 185, 92);
    border-radius: 15px;
    color: black;
    padding: 10px 15px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    transform: translateX(200%);
}

.footer-copyright{
    background-color: black;
    color: white;
    font-style: italic;
}